@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import "react-big-calendar/lib/css/react-big-calendar.css";
@import "dashboard.css";
@import "missions.css";
@import "personnel.css";
@import "singlemission.css";
@import "singleteam.css";
@import "teams.css";
@import "submitconop.css";
@import "navbar.css";
@import "footer.css";
@import "dashboardstatuses.css";

.app-container {
  height: 100%;
  background-color: rgb(42, 42, 42);
  color: lightgray;
  margin-bottom: 30px;
}
