@import "bootstrap/dist/css/bootstrap.min.css";

@import "react-big-calendar/lib/css/react-big-calendar.css";
@import "dashboard.css";
@import "missions.css";
@import "personnel.css";
@import "singlemission.css";
@import "singleteam.css";
@import "teams.css";
@import "submitconop.css";

.app-container {
  height: 100vh;
  background-color: rgb(42, 42, 42);
  color: lightgray;
}
