.archives-header-text {
    padding-right: 1%;
}

.header-and-entity{
    display: flex;
    text-align: center;
    font-size: x-large;
    padding-left: 2.5%;
    padding-bottom: .3%;
    margin-top: 2.3em;
    justify-content: space-evenly;
  }





.personnel-header-text{
    padding-left: 50%;
}