.team-status-header {
  grid-area: team-status-header;
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
}

.team-status-container {
  border-style: solid;
}

.ci-teams-status {
  display: grid;
  padding: 5%;
  grid-template-columns: 55% auto;
}

.ci-team-status {
  font-size: 20px;
  overflow-y: auto;
}

.humint-team-status {
  font-size: 20px;
  overflow-y: auto;
}

.humint-teams-status {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
}

.sigint-team-status {
  font-size: 20px;
  overflow-y: auto;
}

.sigint-teams-status {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
}
