.team-status-header { 
  grid-area: team-status-header;
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
}

.team-status-container {
  border-style: solid;
}

.ci-team-status {
  /* border-style: solid; */
}

.humint-team-status {
  /* border-style: solid; */
}

.sigint-team-status {
  /* border-style: solid; */
}





