.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.4fr 1.1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "dashboard-calendar dashboard-map dashboard-upcoming"
    "ci-team-status humint-team-status sigint-team-status"
    "ci-team-status humint-team-status sigint-team-status";
  width: 100%;
  height: 90vh;
  padding: 2em;
  
}

.map.map {
  height: 1fr;
}

.dashboard-calendar {
  grid-area: dashboard-calendar;
  color: black;
  background-color: lightgrey;
  overflow-y: auto;
  border: solid lightgrey;
  border-radius: 10px;
}

.dashboard-mapp {
  grid-area: dashboard-map;
  border: solid lightgrey;
  border-radius: 10px;
  height: calc(100% );
  background-color: #212529;
}

.dashboard-upcoming {
  grid-area: dashboard-upcoming;
  color: white;
  border: solid lightgray;
  border-radius: 10px;
  background-color: #212529;
}

.upcoming-header {
  text-align: center;
}

.upcoming-header {
  text-decoration: underline;
}

.team-missions {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /* font-family: 'Roboto', sans-serif; */
  font-size: 20px;
  display: flex;
}

.dashboard-mission-link {
  color: lightgray;
  text-decoration: none;
}

.list {
  position: relative;
}

.list ul li {
  position: relative;
}

/* all the team statuses fuckery */
.dashboard-team-link {
  color: lightgray;
  text-decoration: none;
}

/* ci teams statuses */
/* ci red */
.ci-teams-status-red {
  position: relative;
  display: grid;
  grid-template-columns: 55% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #ff440b;
  transition: 0.5s;
  cursor: pointer;
}
.ci-teams-status-red:hover {
  left: 10px;
  color: black;
}
.ci-teams-status-red a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff440b;
  transform: scaleX(0);
  transition: 0.5s;
}
.ci-teams-status-red a:hover::before {
  transform: scaleX(1);
}
.ci-teams-status-red span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.ci-teams-status-red a:hover {
  color: black;
}
/* ci yellow */
.ci-teams-status-yellow {
  position: relative;
  display: grid;
  grid-template-columns: 55% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #ffeb0b;
  transition: 0.5s;
  cursor: pointer;
}
.ci-teams-status-yellow:hover {
  left: 10px;
  color: black;
}
.ci-teams-status-yellow a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffeb0b;
  transform: scaleX(0);
  transition: 0.5s;
}
.ci-teams-status-yellow a:hover::before {
  transform: scaleX(1);
}
.ci-teams-status-yellow span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.ci-teams-status-yellow a:hover {
  color: black;
}
/* ci green */
.ci-teams-status-green {
  position: relative;
  display: grid;
  grid-template-columns: 55% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #24ff0b;
  transition: 0.5s;
  cursor: pointer;
}
.ci-teams-status-green:hover {
  left: 10px;
  color: black;
}
.ci-teams-status-green a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #24ff0b;
  transform: scaleX(0);
  transition: 0.5s;
}
.ci-teams-status-green a:hover::before {
  transform: scaleX(1);
}
.ci-teams-status-green span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.ci-teams-status-green a:hover {
  color: black;
}

/* humint teams statuses */
/* humint red */
.humint-teams-status-red {
  position: relative;
  display: grid;
  grid-template-columns: 70% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #ff440b;
  transition: 0.5s;
  cursor: pointer;
}
.humint-teams-status-red:hover {
  left: 10px;
  color: black;
}
.humint-teams-status-red a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff440b;
  transform: scaleX(0);
  transition: 0.5s;
}
.humint-teams-status-red a:hover::before {
  transform: scaleX(1);
}
.humint-teams-status-red span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.humint-teams-status-red a:hover {
  color: black;
}
/* humint yellow */
.humint-teams-status-yellow {
  position: relative;
  display: grid;
  grid-template-columns: 70% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #ffeb0b;
  transition: 0.5s;
  cursor: pointer;
}
.humint-teams-status-yellow:hover {
  left: 10px;
  color: black;
}
.humint-teams-status-yellow a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffeb0b;
  transform: scaleX(0);
  transition: 0.5s;
}
.humint-teams-status-yellow a:hover::before {
  transform: scaleX(1);
}
.humint-teams-status-yellow span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.humint-teams-status-yellow a:hover {
  color: black;
}
/* humint green */
.humint-teams-status-green {
  position: relative;
  display: grid;
  grid-template-columns: 70% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #24ff0b;
  transition: 0.5s;
  cursor: pointer;
}
.humint-teams-status-green:hover {
  left: 10px;
  color: black;
}
.humint-teams-status-green a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #24ff0b;
  transform: scaleX(0);
  transition: 0.5s;
}
.humint-teams-status-green a:hover::before {
  transform: scaleX(1);
}
.humint-teams-status-green span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.humint-teams-status-green a:hover {
  color: black;
}

/* sigint teams statuses */
/* sigint red */
.sigint-teams-status-red {
  position: relative;
  display: grid;
  grid-template-columns: 70% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #ff440b;
  transition: 0.5s;
  cursor: pointer;
}
.sigint-teams-status-red:hover {
  left: 10px;
  color: black;
}
.sigint-teams-status-red a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff440b;
  transform: scaleX(0);
  transition: 0.5s;
}
.sigint-teams-status-red a:hover::before {
  transform: scaleX(1);
}
.sigint-teams-status-red span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.sigint-teams-status-red a:hover {
  color: black;
}
/* sigint yellow */
.sigint-teams-status-yellow {
  position: relative;
  display: grid;
  grid-template-columns: 70% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #ffeb0b;
  transition: 0.5s;
  cursor: pointer;
}
.sigint-teams-status-yellow:hover {
  left: 10px;
  color: black;
}
.sigint-teams-status-yellow a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffeb0b;
  transform: scaleX(0);
  transition: 0.5s;
}
.sigint-teams-status-yellow a:hover::before {
  transform: scaleX(1);
}
.sigint-teams-status-yellow span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.sigint-teams-status-yellow a:hover {
  color: black;
}
/* sigint green */
.sigint-teams-status-green {
  position: relative;
  display: grid;
  grid-template-columns: 70% auto;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 8px solid #24ff0b;
  transition: 0.5s;
  cursor: pointer;
}
.sigint-teams-status-green:hover {
  left: 10px;
  color: black;
}
.sigint-teams-status-green a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #24ff0b;
  transform: scaleX(0);
  transition: 0.5s;
}
.sigint-teams-status-green a:hover::before {
  transform: scaleX(1);
}
.sigint-teams-status-green span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.sigint-teams-status-green a:hover {
  color: black;
}

/* humint teams statuses */
/* .humint-teams-status-red {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
  border-left: 2px solid #ff440b;
}
.humint-teams-status-yellow {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
  border-left: 2px solid #fff30b;
}
.humint-teams-status-green {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
  border-left: 2px solid #24ff0b;
} */
/* sigint teams statuses */
/* .sigint-teams-status-red {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
  border-left: 2px solid #ff440b;
}
.sigint-teams-status-yellow {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
  border-left: 2px solid #fff30b;
}
.sigint-teams-status-green {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% auto;
  border-left: 2px solid #24ff0b;
} */
/* =================================== */

.dashboard-team-list {
  position: relative;
  left: 0;
  color: #999;
  list-style: none;
  margin: 4px;
  border-left: 2px solid #24ff0b;
  transition: 0.5s;
  cursor: pointer;
}

.dashboard-team-list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #24ff0b;
  transform: scaleX(0);
  transition: 0.5s;
}

.dashboard-team-list:hover::before {
  transform: scaleX(1);
  color: black;
}

.dashboard-team-list:hover {
  left: 10px;
  color: black;
}

.dashboard-team-list span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}

.dashboard-team-list:hover {
  color: black;
}

.dashboard-team-list a:hover {
  color: black;
}

.ci-team-status {
  grid-area: ci-team-status;
  padding: 10px;
  border: solid lightgray;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: #212529;
}

.humint-team-status {
  grid-area: humint-team-status;
  padding: 10px;
  border: solid lightgray;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: #212529;
}

.sigint-team-status {
  grid-area: sigint-team-status;
  border: solid lightgray;
  padding: 10px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: #212529;
}

.google-container {
  height: calc(100% - 18px);
}

.search {
  display: grid;
  justify-content: center;
  align-items: center;

}

/* .clocks-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clocks-container > div {
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 100%;
}

.dashboard-clock {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  color: rgb(152, 193, 217);

} */

/* .{
  align-content: center;
  justify-content: center;
}*/

.search-box{
  display: flex;
  /* background-color: rgb(228, 222, 222); */
  background-color: lightgray;
  color: black;
  border-radius: 50px;
  font-weight: bold;
  font-size: 18px;
  width: 400px;
  height: 42px;
  /* border: gray;
  border-width: 100px; */
  border-color: gray;
  border-width: 5px;

} 
