.team-status-header {
  grid-area: team-status-header;
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
}

.team-status-container {
  border-style: solid;
}

.ci-teams-status {
  display: grid;
  padding: 15px;
  grid-template-columns: 250px auto;
}

.ci-team-status {
  font-size: 30px;
}

.humint-team-status {
  font-size: 30px;
}

.humint-teams-status {
  display: grid;
  padding: 15px;
  grid-template-columns: 300px auto;
}

.sigint-team-status {
  font-size: 30px;
}

.sigint-teams-status {
  display: grid;
  padding: 15px;
  grid-template-columns: 250px auto;
}
