@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

.footer{
  display:flex;
  justify-content: space-between;
  font-family: 'Quantico', sans-serif;
  position:fixed;
  padding: 5em, 5em, 5em, 5em;
  background-color: #1e1e1e;
  color: white;
  height: 30px;
  bottom: 0;
  width: 100%;
  /* margin-top:20px */
}

.copyright {
  display: flex;
  align-self: flex-end;
  padding-right: 1em;
  color:white;
  margin-bottom: 0em;
}

.developers{
  display:flex;
  align-self: flex-end;
  padding-left: 1em;
  color:white;
  margin-bottom: 0em;
  font-size: small;
}