.dash-map {
  border-radius: 10px;
  height: calc(100% - 30px);
  width: 100%;
}

.teams-map {
  height: calc(100% - 24px);
  width: 100%;
  border-radius: 10px;
}

.info-window{
  color: black;
  font-size: 14px;
  font-weight: 400;
}
