.dashboard-map {
  border-radius: 10px;
  height: calc(100% - 10%);
  width: 100%;
}

.teams-map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.info-window{
  color: black;
  font-size: 14px;
  font-weight: 400;
}

/* this is the one with the title */
.team-mapp {
  grid-area: team-mapp;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  background-color: #212529;
  height: calc(100% - 5%)
}
/* this is the one with the whitespace */
.team-map {
  background-color: azure;
  color: black;
  text-align: center;
  align-content: center;
  margin-bottom: 15px;
  height: 20em;
}

.google-container {
  height: 100%;
}

.single-team-map{
    grid-area: team-mapp;
    text-align: center;
    background-color: #212529;
    height: calc(100% - 4.5%)
    /* border-style: solid;
    border-radius: 10px; */
}
.single-team-mapp{
  grid-area: team-mapp;

  border-style: solid;
  border-radius: 10px;
  text-align: center;
  background-color: #212529;
  height: 100%
}

.single-map-header{
width: 100%;
/* background-color: aqua; */
}


.material-symbols-outlined {
  background-color: aqua;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
