.mission-data {
  /* text-align: center; */
}

.missions-map {
  background-color: azure;
  color: black;
  text-align: center;
  align-content: center;
  margin-bottom: 15px;
}

/* .mission-search{
  background-color: rgb(42, 22, 32);
  
} */

.mission-search-bar {
  /* background-color: #212529; */
  /* background-color: rgb(242, 240, 240); */
  margin-top: 20px;
  /* background-color: #212529; */
    /* background-color: #212529; */
    background-color: lightgray;
  color: black;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  width: 400px;
  height: 42px;
  /* border: gray;
  border-width: 100px; */
  border-color: gray;
  border-width: 5px;
}

.mission-card-container {
  background-color: rgb( #0b5ed7);
}

.missions-page-container {
  /* min-height: 85vh; */
  padding-bottom: 3em;
}

.missions-map {
  height: 20em;
}

.submit-conop-link {
  display: flex;
  align-self: center;
  /* margin-right: 2.3em; */
  text-decoration: none;
}

.homepage-link {
  display: flex;
  align-self: center;
  margin-right: 2.3em;
  text-decoration: none;
}

.mission-card-header {
  text-align: center;
}

.card-header {
  width: 100%;
  justify-content: center;
}
