.mission-data {
  /* text-align: center; */
}

.missions-map {
  background-color: azure;
  color: black;
  text-align: center;
  align-content: center;
  margin-bottom: 15px;
}

/* .mission-search{
  background-color: rgb(42, 22, 32);
  
} */

.mission-search-bar {
  background-color: rgb(42, 42, 42);
  margin-top: 20px;
  color: white;
}

.mission-card-container {
  background-color: rgb(42, 42, 42);
}

.missions-page-container {
  /* min-height: 85vh; */
  padding-bottom: 3em;
}

.missions-map {
  height: 300px;
}

.submit-conop-link {
  display: flex;
  align-self: center;
  /* margin-right: 2.3em; */
  text-decoration: none;
}

.homepage-link {
  display: flex;
  align-self: center;
  margin-right: 2.3em;
  text-decoration: none;
}
