@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

.nav-position {
  top: 0;
  /* position: fixed; */
  width: 100vw;
  height: 150px;
  z-index: 1;
}
.navbar {
  --bs-nav-brand-color: white;
}
.navbar-nav {
  --bs-nav-link-hover-color: lightgray;
  --bs-nav-link-disabled-color: white;
}

.missions {
  color: white;
  transition: ease-in-out 0.3s;
}

.navbar.container {
  font-family: "Quantico", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex: 12;
  font-size: 20px;
}
.nav-logo{
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  color: white;
}

.nav-logo:hover {
  border-color: rgba(205, 205, 205, 0.7);
  /* border-width: 2.1px; */
  box-shadow: 0 15px 10px -10px rgba(134, 134, 134, 0.5);
  transition: all 0.3s ease;
}
.archives-link {
color: white
}

.personnel {
  color: white;
}
.teams {
  color: white;
}
.webpage-title {
  display: flex;
  color: white;
  opacity: 100%;
  transition: ease-in-out 0.3s;
}

.webpage-title:hover {
  color: lightgray;
}

.webpage-title:focus {
  color: white;
}

