.personnel-page-container {
  height: 100vh;
}

.personnel-header-text {
  text-align: center;
}

.formRank {
  text-transform: uppercase;
}

.formMOS {
  text-transform: uppercase;
}

.mainsearch {
  margin: 1em;
  margin-top: -0.7em;
  margin-left: 2.3em;
}

.table-div {
  margin: 2.3em;
  overflow: auto;
  height: 80vh;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.homepage-button-personnel {
  display: flex;
  align-self: center;
  margin-right: 2.3em;
}
