.personnel-page-container {
  height: 100vh;
}

.personnel-header-text {
padding-right: 1%;
}

.header-and-csv{
  display: flex;
  text-align: center;
  font-size: x-large;
  padding-left: 2.5%;
  padding-bottom: .3%;
  margin-top: 2.3em;
}


.formRank {
  text-transform: uppercase;
}

.formMOS {
  text-transform: uppercase;
}

.mainsearch {
  margin: 1em;
  margin-top: -0.7em;
  margin-left: 2.3em;
  
}

.text-search-bar {
  /* background-color: #212529; */
  background-color: lightgray;
  margin-top: 35px;
  /* color: white; */
  color: black;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  width: 400px;
  height: 42px;
  /* border: gray;
  border-width: 100px; */
  border-color: gray;
  border-width: 5px;

}

.table-div {
  /* margin-top: 2.3em; */
  margin-right: 2.3em;
  margin-left: 2.3em;
  margin-bottom: 2.3em;
  overflow: auto;
  height: 80vh;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.homepage-button-personnel {
  display: flex;
  align-self: center;
  margin-right: 2.3em;
}

.download-button {
  cursor: pointer;
  background-color: #212529;
}

#status {
  background-color: rgb(201, 201, 201);
}