.mission-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1.3fr;
  grid-template-rows: 1.3fr 1.1fr 0.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "mission-admin-data mission-admin-data mission-map"
    "mission-risks mission-timeline mission-map"
    "mission-risks mission-pace mission-signatures";
  width: 90vw;
  height: 90vh;
}

.mission-container h3 {
  text-align: center;
  text-decoration: underline;
}

.mission-admin-data {
  grid-area: mission-admin-data;
  background-color: red;
  color: black;
  border: solid black;
}

.mission-map {
  grid-area: mission-map;
  background-color: orange;
  color: black;
  border: solid black;
}

.mission-risks {
  grid-area: mission-risks;
  background-color: yellow;
  color: black;
  border: solid black;
}

.mission-timeline {
  grid-area: mission-timeline;
  background-color: green;
  border: solid black;
}

.mission-pace {
  grid-area: mission-pace;
  background-color: blue;
  border: solid black;
}

.mission-signatures {
  grid-area: mission-signatures;
  background-color: indigo;
  border: solid black;
}
