.mission-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1.3fr;
  grid-template-rows: 1.3fr 1.1fr 0.6fr;
  gap: 5px 5px;
  padding: 1em;
  grid-template-areas:
    "mission-admin-data mission-admin-data mission-map"
    "mission-risks mission-timeline mission-map"
    "mission-risks mission-pace mission-signatures";
  padding: 2em;
}

.mission-container h3 {
  text-align: center;
  text-decoration: underline;
}

.mission-admin-data {
  grid-area: mission-admin-data;
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
  
}

.mission-admin-data h3 {
  text-align: center;
  text-decoration: underline;
}
.mission-map {
  grid-area: mission-map;
}
.single-mission-map {
  grid-area: mission-map;
  height: 100vh;
  width: 100%;
  border-style: solid;
  border-radius: 10px;
  
}


.mission-risks {
  grid-area: mission-risks;
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
}

.mission-risks h3 {
  text-align: center;
  text-decoration: underline;
}

.mission-timeline {
  grid-area: mission-timeline;
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
}

.mission-timeline h3 {
  text-align: center;
  text-decoration: underline;
}

.mission-pace {
  grid-area: mission-pace;
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
}

.mission-pace h3 {
  text-align: center;
  text-decoration: underline;
}

.mission-signatures {
  grid-area: mission-signatures;
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
}

.mission-signatures h3 {
  text-align: center;
  text-decoration: underline;
}
