.single-team-container {
  display: grid;
  grid-template-columns: 1.4fr 0.8fr 0.8fr;
  grid-template-rows: 0.2fr 4fr 1fr 0.35fr;
  gap: 5px 5px;
  padding: 1em;
  grid-template-areas:
    "team-admin-container team-admin-container team-admin-container"
    "team-calendar team-mapp team-mapp"
    "team-personnel-container team-upcoming-container team-all-missions-container"
    ". . .";
  height: 85vh;
}
.single-team-container h3 {
  text-align: center;
  text-decoration: underline;
  background-color: #212529;
}

.team-admin-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "team-name team-personnel-status team-equipment-status team-comms-status";
  grid-area: team-admin-container;
  border-style: solid;
  padding: 5px;
  border-radius: 10px;
  background-color: #212529;
}

.team-name {
  grid-area: team-name;
  background-color: #212529;
}

.team-personnel-status {
  grid-area: team-personnel-status;
  background-color: #212529;
}

.team-equipment-status {
  grid-area: team-equipment-status;
  background-color: #212529;
}

.team-comms-status {
  grid-area: team-comms-status;
  background-color: #212529;
}

.team-calendar {
  grid-area: team-calendar;
  background-color: lightgrey;
  color: black;
  border-style: solid;
  border-radius: 10px;
}

.team-upcoming-container {
  grid-area: team-upcoming-container;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: #212529;
}

.team-all-missions-container {
  grid-area: team-all-missions-container;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: #212529;
}

.team-missions {
  grid-area: team-personnel-container;
  padding-top: 5px;
  border-radius: 10px;
  background-color: #212529;
}

.team-personnel-container {
  grid-area: team-personnel-container;
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  background-color: #212529;
}

.team-members {
  grid-area: team-personnel-container;
  text-align: center;
  padding-top: 5px;
  border-radius: 10px;
  background-color: #212529;
}

.team-name-center{
  text-align: center;
}

.mission-buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a a a a b";
    align-items: start;
}
.mission-edit-delete{
  grid-area: b;
}