.teams-container {
  height: 95vh;
}

.card-header {
  display: inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: baseline;
  text-align: center;
}

.back-to-home {
  margin: 1em;
  margin-left: 2.3em;
}

.mission-card.card {
  margin: 1em;
}

.teams-header {
  color: white;
  text-align: center;
  margin-top: 0.5em;
}

.add-mission {
  margin: 1em;
  margin-left: 2.3em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.card-text {
  display: flex;
  flex: 2 1 auto;
}
/* .card-body{
    display:flex;
    flex-direction:column;
    align-content: stretch;
    margin: 0 auto;
    flex: 3 1 auto;
    padding: 1em;
  } */
.header-text {
  color: white;
  margin: 0.5em;
  text-align: center;
}
.mission-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 90vh;
}

.mission-card {
  margin: 0.5em;
}

.team-map {
  background-color: azure;
  color: black;
  text-align: center;
  align-content: center;
  /* margin-bottom: 15px; */
  height: 20em;
}
